canvas {
    background: black;
    image-rendering: pixelated;
    float: left;
}

@font-face {
    font-family: dialogue;
    src: url('./assets/dialogue/dialogue-font.ttf');
}

span {
    font-family: dialogue;
    font-size: 16px;
}